// Colors
$color-white: #ffffff;
$color-error: #cc0000;
$color-success: green;
$color-primary: blue; // Darkened red for contrast
$color-primary-hover: lightblue;
$color-secondary: #6c757d;
$color-secondary-hover: #5a6268;
$color-disabled: #d6d8db;
